source https://api.nuget.org/v3/index.json
framework: auto-detect
redirects: on

nuget GitInfo

group net46
	source https://api.nuget.org/v3/index.json
	framework: net46
	redirects: on

	http https://github.com/wahmedswl/Paket-3911/raw/main/lib-http/Oracle.DataAccess.dll

group netcoreapp3.1
	source https://api.nuget.org/v3/index.json
	framework: netcoreapp3.1
	redirects: on

	nuget Oracle.ManagedDataAccess.Core